.navbar {
    margin-bottom: 2vh !important;
}

.card {
    margin-bottom: 2vh !important;
    display: block !important;
}

.card a {

}

.index.card:hover .card-body {
    background-color: #0275d8 !important;
}

.index.card:hover a {
    color: white !important;
}

.index.card:hover p {
    color: white !important;
}