{% extends 'base.html' %}
{% load templates %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery="slim" %}

{% block content %}


<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
    <div class="card">
    <div class="card-body">
        <h5 class="card-title">{{question.question_text}}</h5>
        <p class="card-text">{{question.description}}</p>
        {% if question.img %}
        <img src="{{ question.img.url }}" alt="question_ img">
        {% endif %}
        {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{error_message}}
        </div>
        {% endif %}
        {% for choice in question.choice_set.all %}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="choice" id="{{forloop.counter}}" value="{{choice.id}}">
            <label class="form-check-label" for="{{forloop.counter}}">
                {{choice.choice_text}}
            </label>
        </div>
        {% endfor %}
    </div>
    </div>
    </fieldset>

<input class="btn btn-primary" type="submit" value="Проголосовать">

</form>

{% endblock %}
