{% extends 'base.html' %}
{% load templates %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery="slim" %}
{% load static %}

{% block content %}
    <div class="card profile border border-primary mb-3">
  <div class="row g-0">
    <div class="col-md-4">
        {% if user.img %}
      <img src="{{ user.img.url }}" alt="profile_ img" class="img-fluid rounded-start">
        {% else %}
        <img src="{% static 'img/img.png' %}" alt="profile_ img" class="img-fluid rounded-start">
    {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title text-primary">{{ user }}</h2>
        <a href="{% url 'polls:edit' pk=user.id %}" class="card-link"><small>Редактировать</small></a><br>
          <a href="{% url 'polls:delete' user.id %}" class="card-link"><small>Удалить аккаунт</small></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

