{% extends 'base.html' %}
{% load templates %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery="slim" %}
{% load static %}

{% block content %}
    <h1>{{ user }}</h1>
    {% if user.img %}
    <img src="{{ user.img.url }}" alt="profile_ img">
    {% else %}
    <img src="{% static 'img/img.png' %}" alt="profile_ img">
    {% endif %}
    <a href="{% url 'polls:edit' pk=user.id %}">Редактировать себя</a>
    <a href="{% url 'polls:delete' user.id %}">Удалить себя</a>
{% endblock %}